* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.bg_video{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.page1 {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #fff;

    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}

.title {
    display: flex;
    margin: 30vh auto auto 10vw;
    flex-direction: column;
    color: #fff;
}

.title h1 {
    font-size: 60pt;
    margin: 2vh 5vw 2vh auto;
}